@import "tailwindcss";

:root {
  --bg: #0b0f14;
  --fg: #e6eaf0;

  --blue: #4cc3ff;
  --orange: #ff9900;
  --red: #e63946;
  --purple: #a855f7;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

/* Custom Preloader */
.loader {
  width: 70px;
  height: 50px;
  box-sizing: border-box;
  background:
    conic-gradient(from 135deg at top, #0000, #fff 1deg 90deg, #0000 91deg) right -20px bottom 8px/18px 9px,
    linear-gradient(#fff 0 0) bottom/100% 8px,
    #000;
  background-repeat: no-repeat;
  border-bottom: 8px solid #000;
  position: relative;
  animation: l7-0 2s infinite linear;
}

.loader::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 14px;
  background: lightblue;
  left: 10px;
  animation: l7-1 2s infinite cubic-bezier(0, 200, 1, 200);
}

@keyframes l7-0 {
  100% {
    background-position: left -20px bottom 8px, bottom
  }
}

@keyframes l7-1 {

  0%,
  50% {
    bottom: 8px
  }

  90%,
  100% {
    bottom: 8.1px
  }
}



/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */